body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.borderBox {
  width : 500px;
  margin : 10px auto;
  font-size: large;
  font-weight: 600;
  color: white;
  background-color: skyblue;
  border : 1px dashed black;
  border-radius: 5px;
  animation: little 5s ease-in infinite;
  animation-direction: alternate;
}

@keyframes little {
  from {
    background-color : rgb(0, 41, 57);
  }
  to {
    background-color: blueviolet;
  }
}


.red {
  color: red;
  font-weight: bold;
}

.blue {
  color: blue;
  font-weight: bold;
}

.green {
  color: green;
  font-weight: bold;
}

.purple {
  color: purple;
  font-weight: bold;
}